.personal__item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;

}

.prettyBlock__btn {
  transition: all 0.3s;
  cursor: pointer;
}

.prettyBlock:hover .prettyBlock__btn{
  opacity: 1;
}

.avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info__divider {
  margin: 10px 0 !important;
}

.info__box {
  /*margin-bottom: 10px;*/
}